.navbar {
    background-color: lightgreen;

}
.navbar-nav > li.nav-item{
    padding-left:37px;
    padding-right:37px;
    font-family: Verdana, Tahoma, sans-serif;
  }

.nav-link{
    color:saddlebrown !important;
}
.card-img-top {
    width: 100% !important;
    height: 15vw !important;
    object-fit: cover !important;
}
.card{
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.container-fluid{
align-items: center;
text-align: center;
}
.icon-green{
    color: green;
}